<h1><%=@user.firstname%> <%= @user.lastname%></h1>

<%if !@userMajor %>
<%= link_to 'Edit Your Major', edit_user_path(@user), class: "btn btn-primary btn-sm"%>
<% else %>
<%= link_to 'Add your Major', addUserMajor_path, class: "btn btn-primary btn-sm" %>
<% end %>