<% if @major.errors.any? %>
	<div id="error_explanation">
		<div class="alert alert-danger">
			The form contains <%= pluralize(@major.errors.count, "error") %>.
		</div>
		<ul>
			<% @major.errors.full_messages.each do |msg| %>
				<li><%= msg %> </li>
			<% end %>
		</ul>
	</div>
<% end %>